.btn__hire-me {
    width: 10rem;
    color: var(--blue-2);
    border: 2px solid var(--blue-2);
    border-radius: .5rem;
    padding: .5rem 2rem;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 500ms;
}

.btn__hire-me:hover {
    background-color: var(--white-1);
    color: var(--blue-1);
    border-color: transparent;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    /* background: transparent; */

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}